.navbar{
    background: #183319;
    min-height: 70px;
    position: fixed;
    width: 100%;
    color: white;
    z-index: 99;
    white-space: nowrap;
}

.logo{
    width: 50%;
    height: 50%;
}

.nav-item{
    color:  white;
    font-size: 1.5rem
}

.nav-item:hover{
    color: #8db936;
    text-decoration: none
}



