.registerClass{
    color: #ffffff;
    font-size: 26px;
}

.registerClass:hover{
    color: #008000;
    text-decoration: none
}

.container{
    margin-top: 15px;
}

.styles_modal__gNwvD{
    width: 100%
}

h4{
    font-size: 1.5rem;
    font-family: unset;
    font-stretch: ultra-condensed;
    margin-bottom: 40px;
    margin-top: 40px;
}