body {
  margin: 0;
  font-size: 16px;
  padding: 0
}

a {
  color: #8db936;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #8db936;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  /* width: 700px; */
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.logo{
  width: 50%;
  height: 50%;
}

.top-bar {
  background-image: linear-gradient(
    #ffffff, #8db936
);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
 }

 .card-heading{
  color: green;
  font-size: 31px;
  margin-bottom: 0px;
 }

 .field-line, .button-line {
  padding: 7px;
 }

 .person{
  width: 9%;
  margin-top: 8px;
 }

 .Select-control{
  width: 50%!important;
  margin-left: 25%
 }
