.container{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-top: 230px;
  }


.homeImg{
/* background-image: url('../../image/Couple-banking-AdobeStock_125640641.jpeg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

